body {
  background-color: var(--background-dark);
}

.App {
  padding: 20px 0px 0px 0px;
  margin: 0 auto;
  text-align: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #1e1e2c, #111, #1e1e2c);
}

.header-section {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid var(--divider-line);
  opacity: 0.9;
}

.header-content {
  padding: 3px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-dark);
}

.add-icon {
  cursor: pointer;
  position: relative;
  top: 4px;
}

.add-icon.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.startup-section {
  top: 25%;
  position: absolute;
  width: 100%;
}

.startup-title svg {
  margin-right: 2px;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
}

.messages-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  overflow-y: auto;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
  margin-bottom: 100px;
  width: 100%;
  max-width: 860px;
}

.message {
  max-width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: var(--bubble-received);
  max-width: 50%;
  text-align: left;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.assistant-message {
  align-self: flex-start;
  text-align: left;
}
.assistant-message li,
.assistant-message p {
  margin-bottom: 5px;
}

.assistant-message pre {
  margin: 15px 0;
  padding: 10px;
  background-color: black;
  border-radius: 10px;
  max-width: 100%;
  text-align: left;
  backdrop-filter: blur(10px);
  border: 1px solid var(--bubble-received);
  overflow-x: auto;
}

.assistant-message li {
  margin-left: 15px;
}

.chat-input-section {
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.chat-input-section.startup-position {
  bottom: 35%;
}

.chat-container {
  width: 760px;
  padding: 0px 30px;
  bottom: 10px;
}

.chat-status-label {
  color: var(--text-light);
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
  position: relative;
  bottom: 10px;
}

.loading-spinner {
  width: 24px;
  height: 24px;
  border: 3px solid var(--text-light);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.loading-message {
  opacity: 0.7;
  /* Add any other styling you want for the loading message */
}

.chat-input-label {
  color: var(--text-light);
  font-size: 11px;
  text-align: right;
  margin-bottom: 2px;
}

.chat-input-section .chat-input {
  width: 100%;
  opacity: 0.9;
  padding: 10px 10px 70px 10px;
  font-family: inherit;
  color: var(--text-light);
  font-size: 16px;
  border: 1px solid var(--divider-line);
  border-radius: 10px;
  resize: none;
  background-color: var(--input-background);
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);
}

textarea::placeholder {
  font-weight: 300;
  opacity: 0.6;
}

.chat-input-section .chat-input:focus {
  outline: none;
}

.chat-input-section .chat-input.summarize {
  border-color: var(--bubble-sent);
}

.chat-input-section .chat-input.proofread {
  border-color: var(--highlight-green);
}

.chat-container .chat-input-actions {
  font-size: 16px;
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  position: relative;
}

.chat-input-actions-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 15px;
  padding: 0px 10px;
}

.chat-container .chat-input-actions .chat-input-actions-left {
  display: block;
  position: relative;
  bottom: 0px;
}

.chat-container .chat-input-actions .chat-input-actions-center {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.actions-pills-group {
  margin-left: 20px;
  display: inline-block;
}

.actions-pill {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 20px;
  background-color: var(--bubble-received);
  color: var(--text-light);
  margin: 0px 2px;
  cursor: pointer;
  font-size: 12px;
}

.actions-pill.active {
  color: var(--background-dark);
}

.actions-pill.summarize.active {
  background-color: var(--bubble-sent);
}

.actions-pill.proofread.active {
  background-color: var(--highlight-green);
}

.chat-container .chat-input-actions .chat-input-actions-left svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.chat-container .chat-input-actions .chat-input-actions-left .image-upload-icon {
  cursor: pointer;
}

.chat-container .chat-input-actions .chat-input-actions-right {
  display: block;
  position: relative;
  bottom: 0px;
}

.send-icon {
  cursor: pointer;
}

.send-icon svg {
  vertical-align: middle;
  width: 20px;
  height: 20px;
}

.send-icon.inactive svg {
  opacity: 0.3;
  cursor: default;
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip-container .tooltip-text {
  visibility: hidden;
  width: 100px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  font-size: 14px;
  z-index: 1;
  top: 50%;
  left: 125%; /* Position to the right of the icon */
  margin-top: -15px; /* Center the tooltip vertically */
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-container .tooltip-text::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%; /* Arrow on the left */
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent #555 transparent transparent;
}

.tooltip-container:hover .tooltip-text {
  visibility: visible;
  opacity: 1;
}

/* media queries */
@media (max-width: 960px) {
  .App {
    padding: 5px 0px 0px 0px;
  }

  .header-content {
    padding: 2px 10px;
  }

  .startup-section {
    top: 20%;
    padding: 0px 10px;
  }
  .startup-logo {
    display: block;
  }

  .chat-input-section.startup-position {
    bottom: 30%;
  }

  .startup-section h1.startup-title {
    font-size: 22px;
  }

  .chat-container {
    width: 100%;
    padding: 0px 10px;
  }

  .messages-container {
    padding: 0px 10px;
  }

  .user-message {
    max-width: 70%;
  }
}
