body {
  background-color: var(--background-dark);
}

.App {
  padding: 0px 0px;
  margin: 0 auto;
  text-align: center;
}

.header-section {
  padding: 0px 0px;
  position: fixed;
  width: 100%;
  z-index: 100;
  top: 0;
  border-bottom: 1px solid var(--divider-line);
}

.header-content {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  background-color: var(--background-dark);
}

button.button-primary:disabled {
  opacity: 0.3;
  cursor: not-allowed;
}

.add-icon {
  cursor: pointer;
  position: relative;
  top: 4px;
}

.add-icon.disabled {
  cursor: not-allowed;
  opacity: 0.3;
}

.input-section {
  display: flex;
  justify-content: center;
  bottom: 0px;
  position: fixed;
  width: 100%;
}

.chat-container {
  width: 960px;
  padding: 0px 30px;
  bottom: 10px;
}

.chat-status-label {
  color: var(--text-light);
  font-size: 12px;
  text-align: right;
  margin-top: 10px;
  position: relative;
  bottom: 10px;
}

.loading-spinner {
  width: 24px;
  height: 24px;
  border: 3px solid var(--text-light);
  border-top-color: #333;
  border-radius: 50%;
  animation: spin 0.6s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.chat-input-label {
  color: var(--text-light);
  font-size: 11px;
  text-align: right;
  margin-bottom: 10px;
}

.input-section .chat-input {
  width: 100%;
  padding: 10px 10px 40px 10px;
  font-size: 14px;
  font-family: inherit;
  border-radius: 5px;
  font-size: 12px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 10px;
  resize: none;
  background-color: var(--input-background);
  box-shadow: 5px 1px 5px rgba(0, 0, 0, 0.1);
  &:focus {
    outline: none;
  }

  &::placeholder {
    color: var(--text-light);
  }

  &:focus::placeholder {
    color: transparent;
  }
}

.input-section .send-icon {
  font-size: 16px;
  color: var(--text-light);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: block;
  padding: 2px 6px;
  position: absolute;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  bottom: 8px;
  opacity: 0.8;
  right: 40px;
  bottom: 15px;

  svg {
    vertical-align: middle;
  }
}

.button-container {
  display: flex;
  justify-content: right;
  margin-top: 10px;
}

.startup-section {
  top: 30%;
  position: absolute;
  width: 100%;
}

.startup-title svg {
  margin-right: 2px;
  width: 35px;
  height: 35px;
  position: relative;
  top: 5px;
}

.messages-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  overflow-y: auto;
}

.messages-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px 30px;
  margin-bottom: 100px;
  width: 100%;
}

.message {
  max-width: 100%;
  padding: 10px;
  margin: 15px 0;
  border-radius: 10px;
}

.user-message {
  align-self: flex-end;
  background-color: var(--bubble-received);
  max-width: 50%;
  text-align: left;
  backdrop-filter: blur(10px);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.assistant-message {
  align-self: flex-start;
  text-align: left;
}

/* media queries */
@media (max-width: 960px) {
  .startup-section {
    top: 20%;
    padding: 0px 10px;
  }

  .startup-section h1.startup-title {
    font-size: 26px;
  }
  .header-content {
    padding: 10px 10px;
  }

  .chat-container {
    width: 100%;
    padding: 0px 10px;
  }
  .input-section .send-icon {
    right: 20px;
  }

  .user-message {
    max-width: 70%;
  }
}
